@use "sass:color";
@use "sass:list";
$primary-colors: #e0f1f4, #b0dde3, #7ac8d1, #3cb2bc, #00a2ac, #009299, #00858b,
  #007679, #006669, #004a4a;
$secondary-colors: #e0f4ed, #b7e2d2, #8ed0b6, #68bc9a, #51ad87, #439e76, #3e906b,
  #37805c, #2f7050, #245437;
$highlight: #f4e3e0, #edbeab, #e09475;

@mixin bg($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin bg-primary($variation) {
  $color-value: list.nth(
    $list: $primary-colors,
    $n: $variation,
  );
  @include bg($color-value);
}

@mixin bg-secondary($variation) {
  $color-value: list.nth(
    $list: $secondary-colors,
    $n: $variation,
  );
  @include bg($color-value);
}

