@use 'default_colors';
@use 'default_typography';

body {
    @include default_colors.bg-primary(2);

    &.dark-mode {
        @include  default_colors.bg-primary(10);
    
        .box {
            @include default_colors.bg-secondary(2);
        }
    }
}

.box {
    @include  default_colors.bg-secondary(10);
}

$avatar-size: 150px;

#avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 8px;
  
    width: 90vw;
    margin: 8px;
    padding: 8px;
  
    border-radius: 16px;
  
    img {
      border-radius: 9999px;
      height: $avatar-size;
      height: $avatar-size;
    }
  
    @media (min-width: 640px) {
    }
    
    @media (min-width: 768px) {
      width: 3*$avatar-size;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1280px) {
    }
    @media (min-width: 1536px) {
    }
  }
  
  #short-name {  
    display: inline;
    
    @media (min-width: 640px) {
        display:none;
    }
    
  }

  #long-name {  
    display: none;
    
    @media (min-width: 640px) {
        display:inline;
    }
  }

  #about {
    display: none;
  }
  
#linktree {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: $avatar-size;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 3*$avatar-size;
    
    li {
        
        list-style: none;
        text-align: center;
        transition: transform 0.3s ease;
        
        &:hover {
        transform: scale(1.1);
    }
    
    a {
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10rem;
        margin-right: 10rem;
        text-decoration: none;
      }
    }
  }
